html {
    background-color: #A7D7C5;
}

.teal {
    background-color: #A7D7C5;
}

.card{

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #74B49B;
    

}
.card h2 {
    padding-top: 10px;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;

}

.card h3 {
    font-size: 1.5rem;
}



.card-row{
    
    background-color: #A7D7C5;
    display: flex;
    justify-content: center;
    
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: cneter;
    align-items: center;
    border: 5px solid #5C8D89;
    border-radius: 20px;
    width: 40vw;
    background-color: #F9F8EB;
}

.project-img {
    margin-top: 8px;
    width: 400px;
    border-radius: 10px;
}

.download-btn:hover {
    color:#A7D7C5;
    background-color:#5C8D89;
    transition: 0.7s;
    
    
}

.download-btn {
    width: auto;
    border: 2px solid #F9F8EB;
    border-radius: 10px;
    background-color: #74B49B;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #F9F8EB;
    margin: 10px;

}

.download-logo {
    height: 30px;
    filter: brightness(0) invert(1);
    
    margin-right: 15px;
    margin-bottom: 5px;
}

.desc {

    display: flex;
    flex-direction: column;
    justify-content: cneter;
    align-items: center;
    border: 3px solid #74B49B;
    border-radius: 20px;;
    font-size: 1.2rem;
    font-weight: 500;
    color: #5C8D89;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

}
.pill-container{
    display: flex;
    justify-content: center;
}

.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#A7D7C5;
    border-radius: 20px;
    color: #F9F8EB;
    font-size: 1.4rem;
    text-align: center;
}

.desc-text {

}

.border {
    border: 10px solid black;
}

@media (max-width: 1200px){

    .project-card{
        width: 75vw;
        margin-top: 20px;
    }

    .project-img {
        margin-top: 8px;
        width: 600px;
        border-radius: 10px;
    }



}

@media (max-width: 850px){

    .project-img {
        margin-top: 8px;
        width: 400px;
        border-radius: 10px;
    }

}


@media (max-width: 570px){

    .project-img {
        margin-top: 8px;
        width: 300px;
        border-radius: 10px;
    }

}


    
