
 html {
    background-color: #A7D7C5;
}

.bigbend {

  background-image: url("./images/bigbend2.jpg");
  background-color: A7D7C5;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: F9F8EB;

}

.tech-banner {
    margin-top: 150px;
    color: #F9F8EB;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 25px;
    line-height: 125px;

}



.bigbend-text{
    
    font-size: 10rem;
    color: #F9F8EB;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: -3px;
    line-height: 125px;
    margin-right: 30px;
    margin-top: 20px
    
    
}

.secondary {
    
    font-size: 4rem;
    color: #F9F8EB;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0px;
    line-height: 125px;
    text-align: left;
    align-self: flex-end;
    padding: 100px;
    

   
}

.bio {
    
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    color: #F9F8EB;
    text-align: left;
    text-indent: 6rem;
    line-height: 1.2;
    margin-bottom: 200px;
}


.icon {
    width: 35px;
}

.logo-section {
    background-color: #A7D7C5;
    margin: 0;
    padding: 10px;
}

.logos {
    height: 63px;
    border-radius: 20px;
}

.logos-small {
    height: 80px;
    border-radius: 20px;
}

.lang {
    display: flex;
    justify-content: space-evenly;
    

}

.rowml {

    padding-left: 0%;

}
.nav-custom {

    background-color: #5C8D89;
}

#navbarsExample04 {
    background-color: #5C8D89;
}

.mobile {
    font-size: 3.9rem;
    color: #F9F8EB;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 10.5px;
    line-height: 125px;
    margin-top: -180px;
    align-self: flex-start;
    margin-right: 22px;
}

.enl-button {
    height: 90px;
    width: 110px;
    padding-right: 10px;
    
}

.enl-lines {
    height: 70px;
    width: 70px;
    
}

.profile-img{
    
    height: 300px;
    border: 25px solid #F9F8EB;
    border-radius: 150px;
    float: left;
}

.prof {

    margin-top: -180px;
    padding-left: 50px;

}
.second {
    

  background-image: url("./images/swatch.png");
  

  height: 50vh;
  
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  
}

.fsd {
    display: none;
}

@media (max-width: 1200px){

    .bigbend {
        height: 50vh;
    }

    .bigbend-text {
        
        font-size: 8rem;
        line-height: 100px;
        margin-right: 10px;
        margin-bottom: 0;
        margin-top: 40px;

    }

    .tech-banner {
        font-size: 3rem;
    }

    

    .mobile {
        border: 1px solid white;
        font-size: 2.5rem;
        color: #F9F8EB;
        font-weight: 500;
        text-align: right;
        text-transform: uppercase;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 4.5px;
        line-height: 125px;
        margin-top: -220px;
        align-self: flex-start;
        margin-right: 10px;
        display: none;
    }


    .fsd {
        display:contents;
        
        
        font-size: 3.7rem;
        color: #F9F8EB;
        letter-spacing: 4.5px;
        line-height: 0;
    }

    .bio {
        font-size: 2rem;
        padding: 10px;
    }

    

    .secondary {
        display:none;
        

    }

    .icon {
        width: 85px;
     }

     .profile-img{
    
        height: 450px;
        border: 35px solid #F9F8EB;
        border-radius: 225px;
        float: left;
    }

}